pkgbase = mingw-w64-libmixmod
	pkgdesc = Model-Based Unsupervised and Supervised Classification
	pkgver = 3.2.2
	pkgrel = 1
	url = http://www.mixmod.org
	arch = any
	license = GPL
	makedepends = mingw-w64-cmake
	depends = mingw-w64-crt
	options = !buildflags
	options = !strip
	options = staticlibs
	source = git+https://github.com/reimen5125/libmixmod.git
	sha1sums = SKIP

pkgname = mingw-w64-libmixmod
